h1 {

    color: grey;
    font-family: "sans";
    font-size:50px;
    text-align: center;

}

DD {

    color: grey;
    font-family: "sans";
    font-size:25px;
    
}

body {background-color: rgb(202, 167, 172);}

